{% extends 'twig/base.twig' %}

{% block stylesheets %}

    {{ parent() }}
    <link href="{{ base_url("public/vendor/datatables/css/jquery.dataTables.min.css") }}" rel="stylesheet" />
    <link href="{{ base_url("public/vendor/datatables/css/buttons.dataTables.min.css") }}" rel="stylesheet" />
    <link href="{{ base_url("public/vendor/datatables/css/select.dataTables.min.css") }}" rel="stylesheet" />
    <link href="{{ base_url("public/vendor/datatables/css/editor.dataTables.min.css") }}" rel="stylesheet" />
    <script src="{{ base_url("public/vendor/datatables/js/dataTables.editor.min.js") }}"></script>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        </br>
        <div class="form-inline">
            <div class="form-group">
                <div class="form-group">
                    <a class="form-control btn btn-info" href="{{ site_url('project/add') }}">Create New</a>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <a class="form-control btn btn-default" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Filters</a>
                </div>
            </div>
        </div>
        </br>
    </div>

    <div class="col-md-12">
        <table id="tbl" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                {#<th></th>#}
                <th>Id</th>
                <th>Project Name</th>
                <th>Description</th>
                <th>Project Icon</th>
                <th width="18%">Created date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    {#<td></td>#}
                    <td>{{ project.id }}</td>
                    <td>{{ project.name }}</td>
                    <td>{{ project.short_desctiption }}</td>
                    <td>{{ project.project_icon }}</td>
                    <td>{{ project.created_on }}</td>
                    <td>
                        <a title="Recycle" data-recycleid="{{ project.id }}" data-recyclename="{{ project.name }}" data-recycleinfo="Project Description: {{ project.desc }}" onclick="recycle(this);" href="#">
                            <i class="fa fa-trash fa-2x"></i>
                        </a>
                        {% set edit_url = ['project','edit',project.id] %}
                        <a title="Edit Project" href="{{ site_url(edit_url)}}">
                            <i class="fa fa-pencil-square-o fa-2x"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ include('twig/manage/inc/recycle.twig', { 'data': data }) }}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ include("twig/manage/inc/recycle-js.twig", {'data':data}) }}

    <script>
        $(document).ready(function () {
            $('#tbl').DataTable();
        });
        $('#tbl')
                .removeClass( 'display' )
                .addClass('table table-striped table-bordered');

    </script>
{% endblock %}
