<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block stylesheets %}
        <!-- BOOTSTRAP STYLES-->
        <link href="{{ base_url("public/vendor/bs-advance-admin/css/bootstrap.css") }}" rel="stylesheet" />
        <!-- BOOTSTRAP DATATABLEs STYLES-->
        <link href="{{ base_url("public/vendor/datatables/css/dt-1.10.8_datatables.min.css") }}" rel="stylesheet" />
        <!-- FONTAWESOME STYLES-->
        <link href="{{ base_url("public/vendor/bs-advance-admin/css/font-awesome.css") }}" rel="stylesheet" />
        <!--CUSTOM BASIC STYLES-->
        <link href="{{ base_url("public/vendor/bs-advance-admin/css/basic.css") }}" rel="stylesheet" />
        <!--CUSTOM MAIN STYLES-->
        <link href="{{ base_url("public/vendor/bs-advance-admin/css/custom.css") }}" rel="stylesheet" />
        <!-- GOOGLE FONTS-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    {% endblock %}

    <title>{% block title %}Vicnisoft{% if title is defined %} | {{ title }}{% endif %}{% if subtitle is defined %} &gt; {{ subtitle }}{% endif %}{% endblock %}</title>


</head>
<body>
<!-- Transparent overlay -->
<div class="overlay hide"></div>

<div id="wrapper">
    {% if user %}
    {{ include('twig/layout/navigation.twig') }}
    {% endif %}
    <!-- /. NAV TOP  -->
    {% if user %}
        {{ include('twig/layout/navigation_side.twig') }}
        <!-- /. NAV SIDE  -->
    {% endif %}
    <div class="col-lg-12" id="page-header">
        <h1>
            {% block page_title %}{% if page_title is defined %} {{ page_title }}{% endif %}{% if sub_page_title is defined %} &gt; {{ sub_page_title }}
            {% endif %}{% endblock %}
        </h1>
        </hr>
    </div>
    <div {% if user %} id="page-wrapper" {% else %} id="container"{% endif %}>

        {% block content %}{% endblock %}
    </div>
    <!-- /. PAGE WRAPPER  -->

</div>
<!-- /. WRAPPER  -->
<!-- /. FOOTER  -->
{{ include('twig/layout/footer.twig') }}

{% block javascripts %}
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{{ base_url("public/vendor/bs-advance-admin/js/jquery-1.10.2.js") }}"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="{{ base_url("public/vendor/bs-advance-admin/js/bootstrap.js") }}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{{ base_url("public/vendor/bs-advance-admin/js/jquery.metisMenu.js") }}"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="{{ base_url("public/vendor/bs-advance-admin/js/custom.js") }}"></script>
    <!-- DATATABLEs SCRIPTS -->
    <script src="{{ base_url("public/vendor/datatables/js/datatables.min.js") }}"></script>
    <script src="{{ base_url("public/js/main.js") }}"></script>

    <script>
        $(document).ready(function () {
            showLastLogin({{ user.last_login }})
        });
    </script>
{% endblock %}


</body>
</html>
