{% extends 'twig/base.twig' %}

{% block content %}
    <div id="login-page">
        <div class="row text-center " style="padding-top:100px;">
            <div class="col-md-12">
                <img src="{{ base_url("public/vendor/bs-advance-admin/img/logo-invoice.png") }}" />
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">

                <div class="panel-body">
                    <form role="form" method="post" action="{{ site_url("auth/login") }}">
                        <hr />
                        <br />
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-tag"  ></i></span>
                            <input type="text" class="form-control" name="identity" value="" id="identity" placeholder="Your Username " />
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"  ></i></span>
                            <input type="password" class="form-control" name="password" value="" id="password" placeholder="Your Password" />
                        </div>
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="remember" value="1"  id="remember" /> Remember me
                            </label>
                                            <span class="pull-right">
                                                   <a href="index.html" >Forget password ? </a>
                                            </span>
                        </div>

                        <div class="form-group input-group">

                            <button  class="btn btn-primary" type="submit" name="submit">Login Now </button>
                        </div>

                        <hr />
                        Not register ? <a href="index.html" >click here </a> or go to <a href="index.html">Home</a>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}