{% extends 'twig/base.twig' %}

{% block stylesheets %}

    {{ parent() }}

{% endblock %}

{% block content %}

    <div>
        <a class="form-control btn btn-primary" href="{{ site_url('tools/generate_classes') }}">Generate Classes Entities</a>

        <h3>Extract data from url</h3>
        <form name="tools" method="post" action="{{ site_url('tools') }}" class="form-horizontal" novalidate="novalidate">
            <div class="{% if (error_message is not defined ) %}hide{% endif %} alert alert-danger" id="edit-project-errors">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Error!</strong>
                <span class="message">{{ error_message }}</span>
            </div>
            <div class="{% if (success_masage is not defined ) %}hide{% endif %} alert alert-success" id="edit-project-errors">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Success!</strong>
                <span class="message">{{ success_masage }}</span>
            </div>
            <fieldset>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="tool_url" class="control-label col-md-2 required">
                                URL
                            </label>
                            <div class="col-md-10">
                                <input id="tool_url" name="tool_url" required="required" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr>
            <div class="form_buttons pull-right">
                <button type="submit" id="tool_submit" name="tool_submit" class="btn btn-primary">
                    Save </button>
                <button type="submit" id="tool_cancel" name="tool_cancel" formnovalidate="formnovalidate" class="btn btn-default">
                    Cancel </button>
            </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
