{% extends 'twig/base.twig' %}

{% block stylesheets %}

    {{ parent() }}

{% endblock %}

{% block content %}
    <div>
        <form name="video" method="post" action=""  novalidate="novalidate">
            <div class="{% if (error_message is not defined ) %}hide{% endif %} alert alert-danger" id="edit-project-errors">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Error!</strong>
                <span class="message">{{ error_message }}</span>
            </div>
            <div class="{% if (success_masage is not defined ) %}hide{% endif %} alert alert-success" id="edit-project-errors">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Success!</strong>
                <span class="message">{{ success_masage }}</span>
            </div>
            <fieldset>
                <div class="row">
                    {% if video is not defined %}
                        <div class="col-md-12 ">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Create new video
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="video_name" class="control-label  required">
                                                Name *
                                            </label>
                                            <input id="video_name" name="video[name]" required="required" class="form-control" type="text">
                                        </div>
                                        <div class="form-group">
                                            <label for="video_youtube_id" class="control-label  required">
                                                Youtube ID *
                                            </label>
                                            <input id="video_youtube_id" name="video[youtube_id]" required="required" class="form-control" type="url">
                                        </div>
                                        <div class="form-group">
                                            <label for="video_audio" class="control-label  required">
                                                Audio *
                                            </label>
                                            <input id="video_audio" name="video[audio_url]" required="required" class="form-control" type="url">
                                        </div>
                                        <div class="form-group">
                                            <label for="video_icon" class="control-label  required">
                                                Icon *
                                            </label>
                                            <input id="video_icon" name="video[icon]" required="required" class="form-control" type="url">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="video_category" class="control-label  required">
                                                Category *
                                            </label>
                                            <select id="video_category" name="video[category_id]" class="form-control">
                                                {% for category in categories %}
                                                    <option  selected="false" value="{{ category.value }}">{{ category.key }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="video_content" class="control-label  required">
                                                Content *
                                            </label>
                                            <textarea  id="video_content" style="height: 208px; overflow-y: hidden;" rows="3" name="video[content]" required="required" class=" form-control">
                                            </textarea>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Update video
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input id="video_id" name="video[video_id]" required="required" class="form-control" type="hidden" value="{{ video.id }}">
                                        </div>
                                        <div class="form-group">
                                            <label for="video_name" class="control-label  required">
                                                Name *
                                            </label>
                                            <input id="video_name" name="video[name]" required="required" class="form-control" type="text" value="{{ video.name }}">
                                        </div>
                                        <div class="form-group">
                                            <label for="video_youtube_id" class="control-label  required">
                                                Youtube ID *
                                            </label>
                                            <input id="video_youtube_id" name="video[youtube_id]" required="required" class="form-control" type="url" value="{{ video.youtubeId }}">
                                        </div>
                                        {#<div class="form-group">#}
                                            {#<label for="video_audio" class="control-label  required">#}
                                                {#Audio *#}
                                            {#</label>#}
                                            {#<input id="video_audio" name="video[audio_url]" required="required" class="form-control" type="url" value="{{ video.audioUrl }}" onchange="updateAudio()">#}
                                        {#</div>#}
                                        {#<div >#}
                                            {#<audio controls>#}
                                                {#<source id="audio_source" src="{{ video.audioUrl }}" type="audio/mpeg" />#}
                                            {#</audio>#}
                                        {#</div>#}
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input name="video[old_category]" class="form-control" type="hidden" value="{{ video.category.id }}">
                                        </div>
                                        <div class="form-group">
                                            <label for="video_icon" class="control-label  required">
                                                Icon *
                                            </label>
                                            <input id="video_icon" name="video[icon]" required="required" class="form-control" type="url" value="{{ video.iconUrl }}">
                                        </div>
                                        <div class="form-group">
                                            <label for="video_category" class="control-label  required">
                                                Category *
                                            </label>
                                            <select class="form-control" id="video_category" name="video[category_id]">
                                                {% for category in categories %}
                                                    {% if video.category.id == category.value %}
                                                        <option   value="{{ category.value }}" selected>{{ category.key }}</option>
                                                    {% else %}
                                                        <option  value="{{ category.value }}">{{ category.key }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="video_content" class="control-label  required">
                                                Content *
                                            </label>
                                            <textarea  id="video_content"  rows="10" name="video[content]" required="required" class=" form-control">
                                                {{ video.content }}
                                            </textarea>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
            </fieldset>
            {#{% for category in categories %}#}
            {#{{ dump(category.value) }}#}
            {#{{ dump(video.category_id) }}#}
            {#{% endfor %}#}
            <hr>
            <div class="form_buttons pull-right">
                <button type="submit"  class="btn btn-primary">
                    Save
                </button>
                <a  href="{{ site_url('video/index') }}" class="btn btn-default">
                    Cancel
                </a>
            </div>
            <div class="clear"></div>
            <input id="user__token" name="user[_token]" class="form-control" value="v6JhOQJ_IZ8RBG1SClYzx8AdxWCdqQ4WjKWylUalX4g" type="hidden"></form>
        <div class="row">
            <div class="col-md-6"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ base_url("public/vendor/bootstrap3_player.js") }}"></script>

{% endblock %}
