{% extends 'twig/base.twig' %}

{% block stylesheets %}

    {{ parent() }}
    <link href="{{ base_url("public/vendor/datatables/css/jquery.dataTables.min.css") }}" rel="stylesheet" />
    <link href="{{ base_url("public/vendor/datatables/css/buttons.dataTables.min.css") }}" rel="stylesheet" />
    <link href="{{ base_url("public/vendor/datatables/css/select.dataTables.min.css") }}" rel="stylesheet" />
    <link href="{{ base_url("public/vendor/datatables/css/editor.dataTables.min.css") }}" rel="stylesheet" />
    <script src="{{ base_url("public/vendor/datatables/js/dataTables.editor.min.js") }}"></script>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        </br>
        <div class="form-inline">
            <div class="form-group">
                <div class="form-group">
                    <a class="form-control btn btn-info" href="{{ data.create_url }}">Create New</a>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <a class="form-control btn btn-default" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Filters</a>
                </div>
            </div>
        </div>
        </br>
    </div>

    <div class="col-md-12">
        <table id="tbl" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Content</th>
                <th>Icon</th>
                <th>Category</th>
                <th width="18%">Created On</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for text in texts %}
                <tr>
                    <td>{{ text.id }}</td>
                    <td>{{ text.name }}</td>
                    <td>{{ text.content }}</td>
                    {#<td>{{ text.icon }}</td>#}
                    <td>
                        <img src=" {{ text.icon }}" class="img-thumbnail" alt="{{ text.name }}" width="100" height="auto">
                    </td>
                    <td>{{ text.category.name }}</td>
                    <td>{{ text.createdOn }}</td>
                    <td>
                        <a title="Recycle" data-recycleid="{{ text.id }}" data-recyclename="{{ text.name }}" data-recycleinfo="Text Content: {{ text.short_content }}" onclick="recycle(this);" href="#">
                            <i class="fa fa-trash fa-2x"></i>
                        </a>
                        {% set edit_url = ['text','edit',text.id] %}
                        <a title="Edit Text" href="{{ site_url(edit_url)}}">
                            <i class="fa fa-pencil-square-o fa-2x"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ include('twig/manage/inc/recycle.twig', { 'data': data }) }}

    </div>
    {#{{ dump(texts) }}#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ include("twig/manage/inc/recycle-js.twig", {'data':data}) }}

    <script>
        $(document).ready(function () {
            $('#tbl').DataTable();
        });
        $('#tbl')
                .removeClass( 'display' )
                .addClass('table table-striped table-bordered');
    </script>
{% endblock %}
