<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            {% block user_info %}
            <li>
                <div class="user-img-div">
                    <img src="public/vendor/bs-advance-admin/img/user.png" class="img-thumbnail" />

                    <div class="inner-text">
                        {% if user.username %}{{ user.username }}{% elseif project_name %}{{ project_name }}{% else %}Vicnisoft{% endif %}
                        <br />
                        <small id="last-time-login">Last Login : 2 Weeks Ago </small>
                    </div>
                </div>
            </li>
            {% endblock %}

        {% block Menu %}

            <li>
                <a class="active-menu" href="#"><i class="fa fa-dashboard "></i>Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-desktop "></i>Manage <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ site_url('user/index') }}"><i class="fa fa-toggle-on"></i>Users</a>
                    </li>
                    <li>
                        <a href="{{ site_url('project/index') }}"><i class="fa fa-bell "></i>Projects</a>
                    </li>
                    <li>
                        <a href="{{ site_url('tools/index') }}"><i class="fa fa-circle-o "></i>Tools</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-yelp "></i>Francais facile <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ site_url('category/index') }}"><i class="fa fa-coffee"></i>Categories</a>
                    </li>
                    <li>
                        <a href="{{ site_url('dialogue/index') }}"><i class="fa fa-flash "></i>Dialogues</a>
                    </li>
                    <li>
                        <a href="{{ site_url('text/index') }}"><i class="fa fa-key "></i>Texts</a>
                    </li>
                    <li>
                        <a href="{{ site_url('video/index') }}"><i class="fa fa-send "></i>Videos</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="table.html"><i class="fa fa-flash "></i>Data Tables </a>

            </li>
            <li>
                <a href="#"><i class="fa fa-bicycle "></i>Forms <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">

                    <li>
                        <a href="form.html"><i class="fa fa-desktop "></i>Basic </a>
                    </li>
                    <li>
                        <a href="form-advance.html"><i class="fa fa-code "></i>Advance</a>
                    </li>


                </ul>
            </li>
            <li>
                <a href="gallery.html"><i class="fa fa-anchor "></i>Gallery</a>
            </li>
            <li>
                <a href="error.html"><i class="fa fa-bug "></i>Error Page</a>
            </li>
            <li>
                <a href="login.html"><i class="fa fa-sign-in "></i>Login Page</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap "></i>Multilevel Link <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#"><i class="fa fa-bicycle "></i>Second Level Link</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-flask "></i>Second Level Link</a>
                    </li>
                    <li>
                        <a href="#">Second Level Link<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#"><i class="fa fa-plus "></i>Third Level Link</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-comments-o "></i>Third Level Link</a>
                            </li>

                        </ul>

                    </li>
                </ul>
            </li>

            <li>
                <a href="blank.html"><i class="fa fa-square-o "></i>Blank Page</a>
            </li>

            {% endblock %}

        </ul>
    </div>
</nav>