<div id="recycleModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <p class="bg-danger">ATTENTION!</p>
                {% if data.active %}
                    <p class="bg-primary">
                        CONFIRM DELETE
                    </p>
                {% else %}
                    <p class="bg-primary">
                        CONFIRM RESTORE
                    </p>
                {% endif %}
            </div>
            <div class="modal-body">
                <div class="alert alert-warning" role="alert" id="recycle-warning"></div>
                {% if data.active %}
                    <p>You are about to DELETE {{ data.recycletype }}</p>
                {% else %}
                    <p>You are about to RESTORE {{ data.recycletype }}</p>
                {% endif %}
                <p id="recyclename"></p>
                <p id="recycleinfo"></p>
            </div>
            <div class="modal-footer">
                <form action="{{ data.recycle_action }}" method="post" id="recycleForm">
                    <input type="hidden" name="recycleid" id="recycleid" value="" />
                    <input type="hidden" name="active" id="active" value="{{ data.active }}" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" data-type="" onClick="javascript:sendRecycle(this);" id="save-recycle" class="btn btn-primary">{% if data.active %}Disable{% else %}Enable{% endif %}</button>
                </form>
            </div>
        </div>
    </div>
</div>

